.game-page {
  display: flex;
  flex-direction: column;
}

.question {
  margin: 40px;
  padding: 20px;
}

.score {
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .new-game {
    font-size: 20px;
    padding: 10px;
  }
}
